# Explorando formas de parsear datos

Inicialmente para mi consumo personal quiero soportar tres tipos de ingreso de datos: resúmenes de tarjeta de crédito Visa (extraído de VisaHome), resúmenes de cuenta de ICBC (descargados del Home Banking correspondiente) y últimos movimientos en CSV de ICBC. El resumen de cuenta de ICBC sirve para información histórica porque los últimos movimientos están limitados, pero el resumen tiene un retraso de tres a seis meses en estar disponible.

Idealmente cada uno de estos medios recibirá un archivo o un listado de archivos y devolverá un DataFrame de Pandas con fecha de compra, fecha de pago (en el caso de tarjeta de crédito sería el vencimiento del resumen), descripción, monto en pesos y monto en dólares. La fecha de compra y pago coinciden para la caja de ahorros, pero para la tarjeta de crédito la de pago es el vencimiento de cada cuota.

También estaría bueno poder incluir información de MercadoPago para detallar mejor los consumos en categorías.

## Datos privados

Para explorar los datos voy a usar información personal. Voy a mantener el nombre de los lugares pero ofuscar los montos.

# Problema 1: Visa

## Opción 1: Tabula

Tabula extrae tablas de PDFs, ideal para este objetivo https://tabula.technology/

In [17]:
import tabula
import pandas as pd
from glob import glob

files = ['data/resumen_cuenta_visa_Nov_2018.pdf'][:1]
df = pd.concat([tabula.read_pdf(f, pandas_options={'header': None}) for f in files])
df[4] = None # pesos
df[5] = None # usds
df.head()

,0,1,2,3,4,5
0,12.01.18,001320*,CLARO EQUIPOSCuota 11/18,NaN,None,None
1,05.04.18,000797*,DISTRIBUIDORES INDEPEND PSA Cuota 08/12,NaN,None,None
2,06.05.18,001545*,DESPEGAR.COMCuota 07/12,NaN,None,None
3,06.05.18,001543*,DESPEGAR.COMCuota 07/12,NaN,None,None
4,06.05.18,001536*,DESPEGAR.COMCuota 07/12,NaN,None,None
5,14.05.18,003573*,WWW.DESPEGAR.COMCuota 07/12,NaN,None,None
6,30.08.18,000782*,WWW.JUMBOACASA.COM.AR/5231Cuota 03/03,NaN,None,None
7,06.09.18,000908*,WWW.JUMBOACASA.COM.AR/5231Cuota 03/03,NaN,None,None
8,07.09.18,003289*,MERCADOPAGO*MEEXTRANAARCuota 03/03,NaN,None,None
9,16.09.18,001329*,DESPEGAR.COMCuota 03/03,NaN,None,None
10,16.09.18,395659*,VRG LINHAS AEREAS BSPCuota 03/03,NaN,None,None
11,20.09.18,001114*,WWW.JUMBOACASA.COM.AR/5231Cuota 03/03,NaN,None,None
12,22.10.18,000172*,WWW.JUMBOACASA.COM.AR/5231Cuota 02/03,NaN,None,None
13,29.10.18,000188*,WWW.JUMBOACASA.COM.AR/5231Cuota 02/03,NaN,None,None
14,02.11.18,000877*,WWW.MERCADOPAGO.COM/7299,NaN,None,None
15,02.11.18,002553*,WWW.MERCADOPAGO.COM/7299,NaN,None,None
16,03.11.18,003558*,DIA% TIENDA,NaN,None,None
17,03.11.18,001427*,BRUKBAR,NaN,None,None
18,05.11.18,005587*,OFFICE COOK,NaN,None,None
19,06.11.18,005657*,OFFICE COOK,NaN,None,None
20,06.11.18,004062*,WWW.MERCADOPAGO.COM/7299,NaN,None,None
21,06.11.18,004162*,RES,NaN,None,None
22,07.11.18,005887*,WWW.MERCADOPAGO.COM/7299,NaN,None,None
23,07.11.18,007936*,WWW.MERCADOPAGO.COM/7299,NaN,None,None
24,08.11.18,314507U,STEAMGAMES.COM,NaN,None,None
25,08.11.18,001271*,WWW.MERCADOPAGO.COM/7299,NaN,None,None
26,11.11.18,009531*,JUMBO ALMAGRO,NaN,None,None
27,12.11.18,008229*,JUMBO ALMAGRO,NaN,None,None
28,12.11.18,000320*,WWW.JUMBOACASA.COM.AR/5231Cuota 01/03,NaN,None,None
29,12.11.18,000320,BONIF. CONSUMO WWW.JUMBOACASA.COM.A,NaN,None,None
30,13.11.18,000813*,DIA TIENDA % 683,NaN,None,None
31,13.11.18,009362*,FARMACITY 23,NaN,None,None
32,14.11.18,008741*,WWW.MERCADOPAGO.COM/7299,NaN,None,None
33,14.11.18,007873*,WWW.MERCADOPAGO.COM,NaN,None,None
34,15.11.18,004605*,WWW.MERCADOPAGO.COM/7299,NaN,None,None
35,16.11.18,007168*,WWW.MERCADOPAGO.COM,NaN,None,None
36,16.11.18,001975*,EVENTOS D ARTIST,NaN,None,None
37,17.11.18,000922*,WWW.MERCADOPAGO.COM/7299,NaN,None,None
38,17.11.18,010591*,LA BANDERITA,NaN,None,None
39,17.11.18,977084,"WILLBOND ALIMENTOS EIRBRL18,00",NaN,None,None
40,17.11.18,355016,"MAJORITYREPORTRADIOUSD10,00",NaN,None,None
41,17.11.18,198896,"PAG*AlvarezTaxiBRL45,00",NaN,None,None
42,17.11.18,986317,"PIZZARIA AMERICANABRL198,10",NaN,None,None
43,18.11.18,122736,"MIRIAM MENDESBRL24,00",NaN,None,None
44,18.11.18,079412,"GAROTA DE IPANEMABRL81,50",NaN,None,None
45,18.11.18,380905,"DROGARIA CRISTALBRL24,24",NaN,None,None
46,18.11.18,994404,"PUB ESCONDIDOBRL97,79",NaN,None,None
47,18.11.18,923627,"MAJORITYREPORTRADIOUSD10,00",NaN,None,None
48,19.11.18,187781,"SENSORIABRL19,90",NaN,None,None

In [18]:
files = glob('data/resumen_cuenta_visa*.pdf')
df = pd.concat([tabula.read_pdf(f, pandas_options={'header': None}) for f in files])
df[4] = None # pesos
df[5] = None # usds
df

CSVParseError: Error failed to create DataFrame with different column tables.
Try to set `multiple_tables=True` or set `names` option for `pandas_options`.
, caused by ParserError('Error tokenizing data. C error: Expected 6 fields in line 41, saw 13\n',)

In [20]:
# quizás sean resumenes de dos páginas los que fallan :( busquemos cuál es
for f in glob('data/resumen_cuenta_visa*.pdf'):
    print('will try', f)
    tabula.read_pdf(f, pandas_options={'header': None})

will try data/resumen_cuenta_visa_Nov_2018.pdf
will try data/resumen_cuenta_visa_Sep_2018.pdf
will try data/resumen_cuenta_visa_Dec_2017.pdf
will try data/resumen_cuenta_visa_Apr_2018.pdf
will try data/resumen_cuenta_visa_May_2018.pdf
will try data/resumen_cuenta_visa_Jul_2017.pdf
will try data/resumen_cuenta_visa_Jul_2018.pdf
will try data/resumen_cuenta_visa_Aug_2018.pdf
will try data/resumen_cuenta_visa_Sep_2017.pdf
will try data/resumen_cuenta_visa_Jun_2017.pdf
will try data/resumen_cuenta_visa_Mar_2018.pdf
will try data/resumen_cuenta_visa_Dec_2018.pdf

CSVParseError: Error failed to create DataFrame with different column tables.
Try to set `multiple_tables=True` or set `names` option for `pandas_options`.
, caused by ParserError('Error tokenizing data. C error: Expected 6 fields in line 41, saw 13\n',)

In [33]:
t1, t2 = tabula.read_pdf('data/resumen_cuenta_visa_Dec_2018.pdf', pandas_options={'header': None}, multiple_tables=True)
t1[4] = None
t1[5] = None
t1

           0        1                                       2   3     4     5
0   22.10.18  000172*  WWW.JUMBOACASA.COM.AR/5231Cuota  03/03 NaN  None  None
1   29.10.18  000188*  WWW.JUMBOACASA.COM.AR/5231Cuota  03/03 NaN  None  None
2   12.11.18  000320*  WWW.JUMBOACASA.COM.AR/5231Cuota  02/03 NaN  None  None
3   26.11.18  000375*  WWW.JUMBOACASA.COM.AR/5231Cuota  02/03 NaN  None  None
4   28.11.18  455714*     CABLEVISION DEB AUT 000000037500370 NaN  None  None
5   01.12.18  006430*                     WWW.MERCADOPAGO.COM NaN  None  None
6   01.12.18  001528*                                WHOOPIES NaN  None  None
7   02.12.18  001060*                           JUMBO ALMAGRO NaN  None  None
8   03.12.18  000013*                      I FRESH MARKET5423 NaN  None  None
9   03.12.18  007277*                            HOYTS ABASTO NaN  None  None
10  05.12.18  000943*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
11  06.12.18  000469*  WWW.JUMBOACASA.COM.AR/5231Cuota  01/03 NaN  None  None
12  06.12.18  002892*                                    ITBA NaN  None  None
13  06.12.18   000469     BONIF. CONSUMO WWW.JUMBOACASA.COM.A NaN  None  None
14  07.12.18  001470*                                    GENK NaN  None  None
15  08.12.18  008859*                         MC DONALDS -SF5 NaN  None  None
16  10.12.18  006614*                             OFFICE COOK NaN  None  None
17  10.12.18  005373*                                     RES NaN  None  None
18  11.12.18  003277*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
19  12.12.18  006741*                             OFFICE COOK NaN  None  None
20  12.12.18  002937*                                    ITBA NaN  None  None
21  13.12.18  008319*                      DIA% TIENDA No 484 NaN  None  None
22  13.12.18  003409*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
23  13.12.18  000470*  WWW.JUMBOACASA.COM.AR/5231Cuota  01/03 NaN  None  None
24  13.12.18   000470     BONIF. CONSUMO WWW.JUMBOACASA.COM.A NaN  None  None
25  14.12.18  007695*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
26  16.12.18  030390*        FUNDACION HUESPED0034000001V3AF6 NaN  None  None
27  17.12.18   413759             MAJORITYREPORTRADIOUSD10,00 NaN  None  None
28  18.12.18  003432*                                    DIA% NaN  None  None
29  18.12.18  006903*                             OFFICE COOK NaN  None  None
30  18.12.18   817484             MAJORITYREPORTRADIOUSD10,00 NaN  None  None
31  19.12.18  006948*                             OFFICE COOK NaN  None  None
32  20.12.18  006997*                             OFFICE COOK NaN  None  None
33  22.12.18  763392U               STEAMGAMES.COM 4259522985 NaN  None  None
34  23.12.18  000489*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
35  23.12.18   884730                  UBER*TRIP ZTIS2USD7,53 NaN  None  None
36  24.12.18  003675*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
37  24.12.18  003145*                           JUMBO ALMAGRO NaN  None  None
38  24.12.18  005683*                            HOYTS ABASTO NaN  None  None
39  25.12.18   707997                        UBER*TRIPUSD7,09 NaN  None  None

In [34]:
t2[1] = None # misc
t2.iloc[3] = None # misc
t2[3] = None # misc
t2[9] = None # misc
t2[10] = None # pesos
t2[11] = None # usd
t2

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,LIMITES: COMPRA$,None,FINANCIACION $,None,NaN,AD E L A,N T O (*),NaN,NaN,None,None,None,NaN
1,Cuotas a vencer:,None,NaN,None,NaN,NaN,NaN,NaN,NaN,None,None,None,NaN
2,Enero/19,None,Marzo/19,None,NaN,Mayo/19,NaN,NaN,NaN,None,None,None,NaN
3,None,None,None,None,NaN,None,None,NaN,NaN,None,None,None,None
4,FECHACOMPROBANTE,None,DETALLE DE TRANSACCION,None,NaN,NaN,NaN,NaN,NaN,None,None,None,NaN
5,NaN,None,SALDO ANTERIOR,None,NaN,NaN,NaN,NaN,NaN,None,None,None,NaN
6,03.12.18,None,SU PAGO EN PESOS,None,NaN,NaN,NaN,NaN,NaN,None,None,None,NaN
7,03.12.18,None,SU PAGO EN USD,None,NaN,NaN,NaN,NaN,NaN,None,None,None,NaN
8,12.01.18,None,CLARO EQUIPOS,None,NaN,Cuota 12/18,NaN,NaN,NaN,None,None,None,NaN
9,05.04.18,None,DISTRIBUIDORES INDEPEND PSA Cuota 09/12,None,NaN,NaN,NaN,NaN,NaN,None,None,None,NaN
10,06.05.18,None,DESPEGAR.COM,None,NaN,Cuota 08/12,NaN,NaN,NaN,None,None,None,NaN
11,06.05.18,None,DESPEGAR.COM,None,NaN,Cuota 08/12,NaN,NaN,NaN,None,None,None,NaN
12,06.05.18,None,DESPEGAR.COM,None,NaN,Cuota 08/12,NaN,NaN,NaN,None,None,None,NaN
13,14.05.18,None,WWW.DESPEGAR.COM,None,NaN,Cuota 08/12,NaN,NaN,NaN,None,None,None,NaN

In [40]:
df = tabula.read_pdf('data/resumen_cuenta_visa_Dec_2018.pdf', pandas_options={'header': None}, pages=[1], columns=[313.389,62.16,692.269,541.679], multiple_tables=True)[0]
df[4] = None
df[5] = None
df

           0        1                                       2   3     4     5
0   22.10.18  000172*  WWW.JUMBOACASA.COM.AR/5231Cuota  03/03 NaN  None  None
1   29.10.18  000188*  WWW.JUMBOACASA.COM.AR/5231Cuota  03/03 NaN  None  None
2   12.11.18  000320*  WWW.JUMBOACASA.COM.AR/5231Cuota  02/03 NaN  None  None
3   26.11.18  000375*  WWW.JUMBOACASA.COM.AR/5231Cuota  02/03 NaN  None  None
4   28.11.18  455714*     CABLEVISION DEB AUT 000000037500370 NaN  None  None
5   01.12.18  006430*                     WWW.MERCADOPAGO.COM NaN  None  None
6   01.12.18  001528*                                WHOOPIES NaN  None  None
7   02.12.18  001060*                           JUMBO ALMAGRO NaN  None  None
8   03.12.18  000013*                      I FRESH MARKET5423 NaN  None  None
9   03.12.18  007277*                            HOYTS ABASTO NaN  None  None
10  05.12.18  000943*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
11  06.12.18  000469*  WWW.JUMBOACASA.COM.AR/5231Cuota  01/03 NaN  None  None
12  06.12.18  002892*                                    ITBA NaN  None  None
13  06.12.18   000469     BONIF. CONSUMO WWW.JUMBOACASA.COM.A NaN  None  None
14  07.12.18  001470*                                    GENK NaN  None  None
15  08.12.18  008859*                         MC DONALDS -SF5 NaN  None  None
16  10.12.18  006614*                             OFFICE COOK NaN  None  None
17  10.12.18  005373*                                     RES NaN  None  None
18  11.12.18  003277*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
19  12.12.18  006741*                             OFFICE COOK NaN  None  None
20  12.12.18  002937*                                    ITBA NaN  None  None
21  13.12.18  008319*                      DIA% TIENDA No 484 NaN  None  None
22  13.12.18  003409*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
23  13.12.18  000470*  WWW.JUMBOACASA.COM.AR/5231Cuota  01/03 NaN  None  None
24  13.12.18   000470     BONIF. CONSUMO WWW.JUMBOACASA.COM.A NaN  None  None
25  14.12.18  007695*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
26  16.12.18  030390*        FUNDACION HUESPED0034000001V3AF6 NaN  None  None
27  17.12.18   413759             MAJORITYREPORTRADIOUSD10,00 NaN  None  None
28  18.12.18  003432*                                    DIA% NaN  None  None
29  18.12.18  006903*                             OFFICE COOK NaN  None  None
30  18.12.18   817484             MAJORITYREPORTRADIOUSD10,00 NaN  None  None
31  19.12.18  006948*                             OFFICE COOK NaN  None  None
32  20.12.18  006997*                             OFFICE COOK NaN  None  None
33  22.12.18  763392U               STEAMGAMES.COM 4259522985 NaN  None  None
34  23.12.18  000489*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
35  23.12.18   884730                  UBER*TRIP ZTIS2USD7,53 NaN  None  None
36  24.12.18  003675*                WWW.MERCADOPAGO.COM/7299 NaN  None  None
37  24.12.18  003145*                           JUMBO ALMAGRO NaN  None  None
38  24.12.18  005683*                            HOYTS ABASTO NaN  None  None
39  25.12.18   707997                        UBER*TRIPUSD7,09 NaN  None  None

In [41]:
df = tabula.read_pdf('data/resumen_cuenta_visa_Dec_2018.pdf', pandas_options={'header': None}, pages=[1], columns=[313.389,62.16,692.269,541.679], multiple_tables=True)[1]
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,LIMITES: COMPRA$,"1 4 0 . 0 0 0 , 0 0",FINANCIACION $,"112.0 0 0 , 0 0",NaN,AD E L A,N T O (*),NaN,NaN,"$ 15 .000,00",CPRA. CUOTAS,NaN,NaN
1,Cuotas a vencer:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero/19,Febrero/19,Marzo/19,Abril/19,NaN,Mayo/19,NaN,NaN,NaN,Junio/19,NaN,NaN,NaN
3,"$8.869,06","$8.208,58","$7.391,83","$6.654,33",NaN,"$422,16",NaN,NaN,NaN,"$422,16",NaN,NaN,_
4,FECHACOMPROBANTE,NaN,DETALLE DE TRANSACCION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PESOS,DOLARES,NaN
5,NaN,NaN,SALDO ANTERIOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"34.702,18","274,96",NaN
6,03.12.18,NaN,SU PAGO EN PESOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"34.702,18-",NaN,NaN
7,03.12.18,NaN,SU PAGO EN USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"274,96- _",NaN
8,12.01.18,001320*,CLARO EQUIPOS,NaN,NaN,Cuota 12/18,NaN,NaN,NaN,NaN,"422,16",NaN,NaN
9,05.04.18,000797*,DISTRIBUIDORES INDEPEND PSA Cuota 09/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"737,50",NaN,NaN
10,06.05.18,001545*,DESPEGAR.COM,NaN,NaN,Cuota 08/12,NaN,NaN,NaN,NaN,"126,33",NaN,NaN
11,06.05.18,001543*,DESPEGAR.COM,NaN,NaN,Cuota 08/12,NaN,NaN,NaN,NaN,"829,66",NaN,NaN
12,06.05.18,001536*,DESPEGAR.COM,NaN,NaN,Cuota 08/12,NaN,NaN,NaN,NaN,"2.485,41",NaN,NaN
13,14.05.18,003573*,WWW.DESPEGAR.COM,NaN,NaN,Cuota 08/12,NaN,NaN,NaN,NaN,"2.790,77",NaN,NaN

In [36]:
df = tabula.read_pdf('data/resumen_cuenta_visa_Dec_2018.pdf', pandas_options={'header': None}, pages=2, columns=[104.71,63.64,154.29,539.459])
df[4] = None
df

,0,1,2,3,4
0,27.12.18,000534*,WWW.JUMBOACASA.COM.AR/5231Cuota 01/03,NaN,None
1,27.12.18,000594*,WWW.JUMBOACASA.COM.AR/5231Cuota 01/03,NaN,None
2,27.12.18,000534,BONIF. CONSUMO WWW.JUMBOACASA.COM.A,NaN,None
3,27.12.18,000594,BONIF. CONSUMO WWW.JUMBOACASA.COM.A,NaN,None
4,27.12.18IVA RG 4240 21% (812.98),NaN,"170,73",NaN,None
5,______________________________________________...,NaN,NaN,NaN,None
6,SALDO ACTUAL$,"18.653,80 U$S","45,33",NaN,None
7,______________________________________________...,NaN,NaN,NaN,None
8,PAGO MINIMO$,NaN,"3.362,00",NaN,None
9,______________________________________________...,NaN,NaN,NaN,None
10,"Plan V: abonando el pago mínimo de $3362,00 us...",NaN,NaN,NaN,None
11,"fijas su saldo financiable de $ 17080,06 en:",NaN,NaN,NaN,None
12,"3 cuotas de $ 6263,87 (TNA Fija: 60,000% - T...",NaN,NaN,NaN,None
13,"6 cuotas de $ 3357,70 (TNA Fija: 60,000% - T...",NaN,NaN,NaN,None
14,"12 cuotas de $ 1919,63 (TNA Fija: 60,000% - ...",NaN,NaN,NaN,None
15,"24 cuotas de $ 1229,57 (TNA Fija: 60,000% - ...",NaN,NaN,NaN,None
16,"CFTEA - Ejemplo: cada $ 1000, su CFTEA será:",NaN,NaN,NaN,None
17,"Con IVA: 3 cuotas 102,43%/ 6 cuotas 102,43%/1...",NaN,NaN,NaN,None
18,"Sin IVA: 3 cuotas 79,63%/ 6 cuotas 79,63%/1...",NaN,NaN,NaN,None
19,* El valor de la cuota no incluye IVA sobre lo...,NaN,NaN,NaN,None
20,Sujeto al límite disponible de la cuenta. Váli...,NaN,NaN,NaN,None
21,Cancelación anticipada: el importe de las cuot...,NaN,NaN,NaN,None
22,Condiciones vigentes hasta el 8-01-19. Llame ...,NaN,NaN,NaN,None
23,o ingrese en www.visa.com.ar/VisaHomeSocios.,NaN,NaN,_,None
24,Notificamos a nuestros clientes que a partir d...,NaN,NaN,NaN,None
25,anuales necesarios para alcanzar la bonificaci...,NaN,NaN,NaN,None
26,"Sumapuntos, serán los siguientes: Visa Naciona...",NaN,NaN,NaN,None
27,Internacional 70.000; Gold 120.000; Platinum 2...,NaN,NaN,_,None
28,"La TNA,TEA,CFT y TEM informadas para Plan V y ...",NaN,NaN,NaN,None
29,a la fecha de emisión del presente resumen. La...,NaN,NaN,NaN,None
...,...,...,...,...,...
57,"son: Nro. 5000-9876329-01: $300.000, Alícuota ...",NaN,NaN,NaN,None
58,"0.315%; Nro. 429319, alícuota 0.315%, Nro. 100...",NaN,NaN,_,None
59,Le informamos que en el expediente Unión de Us...,NaN,NaN,NaN,None
60,Standard Bank Argentina S.A. y otros s/ordinar...,NaN,NaN,NaN,None
61,Exp 48458 en trámite por ante el Juzgado Nacio...,NaN,NaN,NaN,None
62,"Comercial Nro. 26, Secretaría Nro. 52 de la Ci...",NaN,NaN,NaN,None
63,se ha dictado una medida cautelar que ordena a...,NaN,NaN,NaN,None
64,suspender el cobro de toda suma de dinero en c...,NaN,NaN,NaN,None
65,de compra. Por tal motivo el Banco ha cesado e...,NaN,NaN,NaN,None
66,a lo que se decida definitivamente en el juicio.,NaN,NaN,_,None
67,Notificamos a nuestros clientes que a partir d...,NaN,NaN,NaN,None
68,visita para titular e invitado de Priority Pas...,NaN,NaN,NaN,None
69,dicho cargo será debitado en pesos conforme la...,NaN,NaN,NaN,None
70,a la fecha de cierre del resumen en que ingres...,NaN,NaN,_,None
71,Si Ud. se encuentra adherido al pago total por...,NaN,NaN,NaN,None
72,banco podrá realizar débitos parciales de los ...,NaN,NaN,NaN,None
73,dólares hasta completar el monto total de deuda.,NaN,NaN,_,None
74,La tasa de financiación (variable mensual) máx...,NaN,NaN,NaN,None
75,"resumen es de Tasa Nominal Anual (TNA) 75,50%,...",NaN,NaN,NaN,None
76,"6,29%, Tasa Efectiva Anual (TEA) 107,97%, Cost...",NaN,NaN,NaN,None
77,"La tasa de interés punitorio será, Tasa Nomina...",NaN,NaN,NaN,None
78,"Efectiva Mensual (TEM) 3,15%, Tasa Efectiva An...",NaN,NaN,NaN,None
79,"Financiero Total (CFT) 56,56%",NaN,NaN,_,None
80,"A partir del mes de octubre de 2012, los saldo...",NaN,NaN,NaN,None
81,fecha de vencimiento serán convertidos a pesos...,NaN,NaN,NaN,None
82,"aplica la entidad, correspondiente al día de v...",NaN,NaN,NaN,None
83,financiados en pesos a las tasas vigentes en d...,NaN,NaN,_,None
84,Le recordamos que de acuerdo a la normativa de...,NaN,NaN,NaN,None
85,"Argentina, los consumos en moneda extranjera r...",NaN,NaN,NaN,None
86,deberán corresponderse con operaciones genuina...,NaN,NaN,_,None

In [47]:
# quizás sean resumenes de dos páginas los que fallan :( busquemos cuál es
for f in glob('data/resumen_cuenta_visa*.pdf'):
    print('will try', f)
    tabula.read_pdf(f, pandas_options={'header': None})
    shape = tabula.read_pdf(f, pandas_options={'header': None}, pages=1, columns=[313.389,62.16,692.269,541.679], multiple_tables=True)[0].shape
    print(shape)
    dfs = tabula.read_pdf(f, pandas_options={'header': None}, pages=2, columns=[104.71,63.64,154.29,539.459])
    if dfs is not None:
        print(dfs[0].shape)

will try data/resumen_cuenta_visa_Nov_2018.pdf
(49, 6)
(61,)
will try data/resumen_cuenta_visa_Sep_2018.pdf
(60, 13)
(86,)
will try data/resumen_cuenta_visa_Dec_2017.pdf
(49, 13)
will try data/resumen_cuenta_visa_Apr_2018.pdf
(49, 7)
(84,)
will try data/resumen_cuenta_visa_May_2018.pdf
(46, 5)
(56,)
will try data/resumen_cuenta_visa_Jul_2017.pdf
(20, 7)
(69,)
will try data/resumen_cuenta_visa_Jul_2018.pdf
(46, 6)
(57,)
will try data/resumen_cuenta_visa_Aug_2018.pdf
(48, 6)
(85,)
will try data/resumen_cuenta_visa_Sep_2017.pdf
(25, 6)
(76,)
will try data/resumen_cuenta_visa_Jun_2017.pdf
(27, 7)
will try data/resumen_cuenta_visa_Mar_2018.pdf
(45, 6)
(87,)
will try data/resumen_cuenta_visa_Dec_2018.pdf

CSVParseError: Error failed to create DataFrame with different column tables.
Try to set `multiple_tables=True` or set `names` option for `pandas_options`.
, caused by ParserError('Error tokenizing data. C error: Expected 6 fields in line 41, saw 13\n',)

### Conclusión

Tabula parece leer bien los pdfs, pero inconsistentemente entre uno y otro aunque el formato a ojo sea igual. Esto es un problema pero solucionable con esfuerzo.

## Opción 2: pdfttotext + regex

`pdftotext` permite extraer el texto plano de archivos PDF. Si mantenemos el formato crear expresiones regulares para esto no debería ser muy difícil.

In [57]:
import pdftotext, re

def parse_visa(f):
    with open(f, "rb") as fp:
        pdf = pdftotext.PDF(fp)
    start = pdf[0].index('FECHA')
    end = pdf[0].index('¿Quiere pagar')
    s = pdf[0][start:end]
    def dashrepl(matchobj):
        if matchobj.group(0) == '***,**': return ' '
        else: return '***,**'
    return re.sub(r'[0-9\.]+,[0-9]{2}', dashrepl, s)
print(parse_visa('data/resumen_cuenta_visa_Nov_2018.pdf'))

FECHA COMPROBANTE             DETALLE DE TRANSACCION                                             PESOS                DOLARES
                                     SALDO ANTERIOR                                                       ***,**                   ***,**
            05.11.18                 SU PAGO EN PESOS                                                     ***,**-
            05.11.18                 SU PAGO EN USD                                                                                   ***,**- _
            12.01.18      001320*    CLARO EQUIPOS                  Cuota  11/18                             ***,**
            05.04.18      000797*    DISTRIBUIDORES INDEPEND PSA Cuota     08/12                             ***,**
            06.05.18      001545*    DESPEGAR.COM                   Cuota  07/12                             ***,**
            06.05.18      001543*    DESPEGAR.COM                   Cuota  07/12                             ***,**
            06.05.18      001536*    DESPEGAR.COM                   Cuota  07/12                           ***,**
            14.05.18      003573*    WWW.DESPEGAR.COM               Cuota  07/12                           ***,**
            30.08.18      000782*    WWW.JUMBOACASA.COM.AR/5231     Cuota  03/03                             ***,**
            06.09.18      000908*    WWW.JUMBOACASA.COM.AR/5231     Cuota  03/03                             ***,**
            07.09.18      003289*    MERCADOPAGO*MEEXTRANAAR        Cuota  03/03                             ***,**
            16.09.18      001329*    DESPEGAR.COM                   Cuota  03/03                           ***,**
            16.09.18      395659*    VRG LINHAS AEREAS BSP          Cuota  03/03                           ***,**
            20.09.18      001114*    WWW.JUMBOACASA.COM.AR/5231     Cuota  03/03                             ***,**
            22.10.18      000172*    WWW.JUMBOACASA.COM.AR/5231     Cuota  02/03                             ***,**
            29.10.18      000188*    WWW.JUMBOACASA.COM.AR/5231     Cuota  02/03                             ***,**
            02.11.18      000877*    WWW.MERCADOPAGO.COM/7299                                                  ***,**
            02.11.18      002553*    WWW.MERCADOPAGO.COM/7299                                                  ***,**
            03.11.18      003558*    DIA% TIENDA                                                             ***,**
            03.11.18      001427*    BRUKBAR                                                               ***,**
            05.11.18      005587*    OFFICE COOK                                                               ***,**
            06.11.18      005657*    OFFICE COOK                                                               ***,**
            06.11.18      004062*    WWW.MERCADOPAGO.COM/7299                                              ***,**
            06.11.18      004162*    RES                                                                     ***,**
            07.11.18      005887*    WWW.MERCADOPAGO.COM/7299                                                ***,**
            07.11.18      007936*    WWW.MERCADOPAGO.COM/7299                                                ***,**
            08.11.18      314507U    STEAMGAMES.COM                                                            ***,**
            08.11.18      001271*    WWW.MERCADOPAGO.COM/7299                                                  ***,**
            11.11.18      009531*    JUMBO ALMAGRO                                                           ***,**
            12.11.18      008229*    JUMBO ALMAGRO                                                           ***,**
            12.11.18      000320*    WWW.JUMBOACASA.COM.AR/5231     Cuota  01/03                             ***,**
            12.11.18      000320     BONIF. CONSUMO WWW.JUMBOACASA.COM.A                                     ***,**-
            13.11.18      000813*    DIA TIENDA % 683                                                        ***,**
            13.11.18      009362*    FARMACITY 23                                                            ***,**
            14.11.18      008741*    WWW.MERCADOPAGO.COM/7299                                                  ***,**
            14.11.18      007873*    WWW.MERCADOPAGO.COM                                                     ***,**
            15.11.18      004605*    WWW.MERCADOPAGO.COM/7299                                                  ***,**
            16.11.18      007168*    WWW.MERCADOPAGO.COM                                                     ***,**
            16.11.18      001975*    EVENTOS D ARTIST                                                        ***,**
            17.11.18      000922*    WWW.MERCADOPAGO.COM/7299                                                ***,**
            17.11.18      010591*    LA BANDERITA                                                            ***,**
            17.11.18      977084     WILLBOND ALIMENTOS EIR        BRL      ***,**                                                      ***,**
            17.11.18      355016     MAJORITYREPORTRADIO           USD      ***,**                                                     ***,**
            17.11.18      198896     PAG*AlvarezTaxi               BRL      ***,**                                                     ***,**
            17.11.18      986317     PIZZARIA AMERICANA            BRL     ***,**                                                     ***,**
            18.11.18      122736     MIRIAM MENDES                 BRL      ***,**                                                      ***,**
            18.11.18      079412     GAROTA DE IPANEMA             BRL      ***,**                                                     ***,**
            18.11.18      380905     DROGARIA CRISTAL              BRL      ***,**                                                      ***,**
            18.11.18      994404     PUB ESCONDIDO                 BRL      ***,**                                                     ***,**
            18.11.18      923627     MAJORITYREPORTRADIO           USD      ***,**                                                     ***,**
            19.11.18      187781     SENSORIA                      BRL      ***,**                                                      ***,**

In [58]:
print(parse_visa('data/resumen_cuenta_visa_Dec_2018.pdf'))

FECHA COMPROBANTE             DETALLE DE TRANSACCION                                               PESOS               DOLARES
                                     SALDO ANTERIOR                                                         ***,**                 ***,**
            03.12.18                 SU PAGO EN PESOS                                                       ***,**-
            03.12.18                 SU PAGO EN USD                                                                                   ***,**- _
            12.01.18      001320*    CLARO EQUIPOS                   Cuota   12/18                             ***,**
            05.04.18      000797*    DISTRIBUIDORES INDEPEND PSA Cuota       09/12                             ***,**
            06.05.18      001545*    DESPEGAR.COM                    Cuota   08/12                             ***,**
            06.05.18      001543*    DESPEGAR.COM                    Cuota   08/12                             ***,**
            06.05.18      001536*    DESPEGAR.COM                    Cuota   08/12                           ***,**
            14.05.18      003573*    WWW.DESPEGAR.COM                Cuota   08/12                           ***,**
            22.10.18      000172*    WWW.JUMBOACASA.COM.AR/5231      Cuota   03/03                             ***,**
            29.10.18      000188*    WWW.JUMBOACASA.COM.AR/5231      Cuota   03/03                             ***,**
            12.11.18      000320*    WWW.JUMBOACASA.COM.AR/5231      Cuota   02/03                             ***,**
            26.11.18      000375*    WWW.JUMBOACASA.COM.AR/5231      Cuota   02/03                             ***,**
            28.11.18      455714*    CABLEVISION DEB AUT 000000037500370                                     ***,**
            01.12.18      006430*    WWW.MERCADOPAGO.COM                                                       ***,**
            01.12.18      001528*    WHOOPIES                                                                  ***,**
            02.12.18      001060*    JUMBO ALMAGRO                                                             ***,**
            03.12.18      000013*    I FRESH MARKET        5423                                                ***,**
            03.12.18      007277*    HOYTS ABASTO                                                              ***,**
            05.12.18      000943*    WWW.MERCADOPAGO.COM/7299                                                   ***,**
            06.12.18      000469*    WWW.JUMBOACASA.COM.AR/5231      Cuota   01/03                             ***,**
            06.12.18      002892*    ITBA                                                                       ***,**
            06.12.18      000469     BONIF. CONSUMO WWW.JUMBOACASA.COM.A                                       ***,**-
            07.12.18      001470*    GENK                                                                      ***,**
            08.12.18      008859*    MC DONALDS -SF5                                                           ***,**
            10.12.18      006614*    OFFICE COOK                                                                ***,**
            10.12.18      005373*    RES                                                                       ***,**
            11.12.18      003277*    WWW.MERCADOPAGO.COM/7299                                                   ***,**
            12.12.18      006741*    OFFICE COOK                                                                ***,**
            12.12.18      002937*    ITBA                                                                       ***,**
            13.12.18      008319*    DIA% TIENDA Nº 484                                                        ***,**
            13.12.18      003409*    WWW.MERCADOPAGO.COM/7299                                                   ***,**
            13.12.18      000470*    WWW.JUMBOACASA.COM.AR/5231      Cuota   01/03                             ***,**
            13.12.18      000470     BONIF. CONSUMO WWW.JUMBOACASA.COM.A                                       ***,**-
            14.12.18      007695*    WWW.MERCADOPAGO.COM/7299                                                  ***,**
            16.12.18      030390*    FUNDACION HUESPED    0034000001V3AF6                                      ***,**
            17.12.18      413759     MAJORITYREPORTRADIO           USD        ***,**                                                    ***,**
            18.12.18      003432*    DIA%                                                                      ***,**
            18.12.18      006903*    OFFICE COOK                                                                ***,**
            18.12.18      817484     MAJORITYREPORTRADIO           USD        ***,**                                                    ***,**
            19.12.18      006948*    OFFICE COOK                                                                ***,**
            20.12.18      006997*    OFFICE COOK                                                                ***,**
            22.12.18      763392U    STEAMGAMES.COM 4259522985                                                 ***,**
            23.12.18      000489*    WWW.MERCADOPAGO.COM/7299                                                   ***,**
            23.12.18      884730     UBER   *TRIP ZTIS2          USD          ***,**                                                      ***,**
            24.12.18      003675*    WWW.MERCADOPAGO.COM/7299                                                  ***,**
            24.12.18      003145*    JUMBO ALMAGRO                                                             ***,**
            24.12.18      005683*    HOYTS ABASTO                                                              ***,**
            25.12.18      707997     UBER   *TRIP                USD          ***,**                                                      ***,**
            25.12.18      272668     UBER   *TRIP                USD         ***,**                                                     ***,**
            26.12.18      007085*    OFFICE COOK                                                                ***,**
            26.12.18      007814*    WWW.MERCADOPAGO.COM/7299                                                  ***,**
            26.12.18      001340*    WWW.MERCADOPAGO.COM/7299                                                ***,**

In [83]:
def parse_visa_cont(f):
    with open(f, "rb") as fp:
        pdf = pdftotext.PDF(fp)
    s = ''
    for page in range(1, len(pdf)):
        # this might break if the resumen has 3 pages or more
        if 'FECHA' not in pdf[page] or 'SALDO ACTUAL' not in pdf[page]:
            break
        start = pdf[page].index('FECHA')
        end = pdf[page].index('SALDO ACTUAL')
        s += pdf[page][start:end]
    def dashrepl(matchobj):
        if matchobj.group(0) == '***,**': return ' '
        else: return '***,**'
    return re.sub(r'[0-9\.]+,[0-9]{2}', dashrepl, s)
print(parse_visa_cont('data/resumen_cuenta_visa_Dec_2018.pdf'))

FECHA COMPROBANTE            DETALLE DE TRANSACCION                                         PESOS          DOLARES
 27.12.18      007126*    OFFICE COOK                                                         ***,**
 27.12.18      000534*    WWW.JUMBOACASA.COM.AR/5231   Cuota 01/03                           ***,**
 27.12.18      000594*    WWW.JUMBOACASA.COM.AR/5231   Cuota 01/03                           ***,**
 27.12.18      000534     BONIF. CONSUMO WWW.JUMBOACASA.COM.A                                ***,**-
 27.12.18      000594     BONIF. CONSUMO WWW.JUMBOACASA.COM.A                                ***,**-
 Tarjeta 9158 Total Consumos de SEBASTIAN WAISBROT                                        ***,**            ***,** _
 27.12.18                 IVA RG 4240 21% (812.98)                                           ***,**
                                                            __________________________________________________________

In [84]:
for f in glob('data/resumen_cuenta_visa*.pdf'):
    print('will try', f)
    parse_visa(f), parse_visa_cont(f)

will try data/resumen_cuenta_visa_Nov_2018.pdf
will try data/resumen_cuenta_visa_Sep_2018.pdf
will try data/resumen_cuenta_visa_Dec_2017.pdf
will try data/resumen_cuenta_visa_Apr_2018.pdf
will try data/resumen_cuenta_visa_May_2018.pdf
will try data/resumen_cuenta_visa_Jul_2017.pdf
will try data/resumen_cuenta_visa_Jul_2018.pdf
will try data/resumen_cuenta_visa_Aug_2018.pdf
will try data/resumen_cuenta_visa_Sep_2017.pdf
will try data/resumen_cuenta_visa_Jun_2017.pdf
will try data/resumen_cuenta_visa_Mar_2018.pdf
will try data/resumen_cuenta_visa_Dec_2018.pdf
will try data/resumen_cuenta_visa_Oct_2017.pdf
will try data/resumen_cuenta_visa_Feb_2018.pdf
will try data/resumen_cuenta_visa_Nov_2017.pdf
will try data/resumen_cuenta_visa_Jun_2018.pdf
will try data/resumen_cuenta_visa_Aug_2017.pdf

### Conclusión

Aunque no haya pasado los datos a dataframe está bastante cerca de ser un problema que se resuelva con una sola expresión regular.

# Problema 2: Resumen de cuenta de ICBC

In [88]:
f = 'data/EXT.DE.MOVIMIENTOS-1984.pdf'
with open(f, "rb") as fp:
    pdf = pdftotext.PDF(fp)
start = pdf[0].index('FECHA')
end = pdf[0].index('CONTINUA AL DORSO')
s = pdf[0][start:end]
print(re.sub(r'[0-9\.]+,[0-9]{2}', dashrepl, s))

FECHA                      CONCEPTO                   F.VALOR COMPROBANTE ORIGEN CANAL                         DEBITOS                   CREDITOS                        SALDOS
                                                   SALDO ULTIMO EXTRACTO AL 31/03/2018                                                                                          ***,**
     03-04    CRED. CAPITAL POR PAGO DE IPF                                                   0501                                                  ***,**
     03-04    CREDITO INT. DE PLAZO FIJO                                                      0501                                                       ***,**
     03-04    CRED. CAPITAL POR PAGO DE IPF                                                   0501                                                  ***,**
     03-04    CREDITO INT. DE PLAZO FIJO                                                      0501                                                       ***,**
     03-04    PAGO EDESUR                                                                     0171   BACC                   ***,**-
     03-04    PAGO GCBA INM/ABL                                                               0171   BACC                   ***,**-
     03-04    PAGO METROGAS                                                                   0171   BACC                   ***,**-
     03-04    PAGO AYSA                                                                       0171   BACC                   ***,**-
     03-04    TRANSF. ACC.B.                                                                  0171   BACC              ***,**-
     03-04    TRANS PAG SUEL                                           7759289                0187   DNET                                           ***,**                  ***,**
     04-04    EXTRACCION TARJETA 59503181                                                     0171   BANC               ***,**-
     04-04    LIQUIDACION DE INTERESES                                                        0501                                                          ***,**
     04-04    PAGO VISA                                                                       0171   BACC              ***,**-
     04-04    ALTA PLAZO FIJO NRO:                 67                                         0171   BACC              ***,**-
     04-04    ALTA PLAZO FIJO NRO:                 68                                         0171   BACC              ***,**-
     04-04    ALTA PLAZO FIJO NRO:                 69                                         0171   BACC              ***,**-
     04-04    TR.7776995 A 0501/11153956/59                                                   0187   BS                ***,**-                                              ***,**
     05-04    TRANSF. E/BCOS-ONLINE                                                           0171   AEXT                                                ***,**                ***,**
     06-04    TRANSF. E/BCOS-ONLINE                                                           0171   AEXT                                                ***,**                ***,**
     09-04    CRED. CAPITAL POR PAGO DE IPF                                                   0501                                                  ***,**
     09-04    CREDITO INT. DE PLAZO FIJO                                                      0501                                                       ***,**
     09-04    EXTRACCION TARJETA 59503181                                                     0171   BANN               ***,**-
     09-04    EXTRACCION TARJETA 59503181                                                     0171   BANN               ***,**-
     09-04    TRANSF. E/BCOS-ONLINE                                                           0171   AEXT                                             ***,**                 ***,**
     10-04    EXTRACCION TARJETA 59503181                                                     0171   BANC               ***,**-
     10-04    EXTRACCION TARJETA 59503181                                                     0171   BANC               ***,**-                                              ***,**
     11-04    DEBITO DEBIN                                                                    0171   BACC                     ***,**-
     11-04    ALTA PLAZO FIJO NRO:                 70                                         0187   BS                 ***,**-
     11-04    TRANSF. ACC.B.                                                                  0171   BACC               ***,**-
     11-04    TRANSF. ACC.B.                                                                  0171   BACC               ***,**-                                               ***,**
     16-04    CRED. CAPITAL POR PAGO DE IPF                                                   0501                                                  ***,**
     16-04    CREDITO INT. DE PLAZO FIJO                                                      0501                                                       ***,**
     16-04    TRANSF. ACC.B.                                                                  0171   BACC                       ***,**-                                          ***,**

In [92]:
start = pdf[1].index('FECHA')
end = pdf[1].index('CONTINUA EN LA HOJA SIGUIENTE')
s = pdf[1][start:end]
print(re.sub(r'[0-9\.]+,[0-9]{2}', dashrepl, s))

FECHA             CONCEPTO          F.VALOR COMPROBANTE ORIGEN CANAL     DEBITOS       CREDITOS       SALDOS
                                                          SALDO PAGINA ANTERIOR                        ***,**
16-04 EXTRACCION TARJETA 59503181                         0171 BANN          ***,**-                 ***,**
23-04 EXTRACCION TARJETA 59503181                         0171 BANN          ***,**-
23-04 CRED. CAPITAL POR PAGO DE IPF                       0501                             ***,**
23-04 CREDITO INT. DE PLAZO FIJO                          0501                                ***,**
23-04 EXTRACCION TARJETA 59503181                         0171 BANC          ***,**-
23-04 EXTRACCION TARJETA 59503181                         0171 BANC          ***,**-
23-04 PAGO EDESUR                                         0171 BACC            ***,**-                 ***,**
24-04 EXTRACCION TARJETA 59503181                         0171 BANN          ***,**-                  ***,**
25-04 CPA. BENAIM                                         0171 OELE            ***,**-                  ***,**
26-04 TRANSF. E/BCOS-ONLINE                               0171 AEXT                           ***,**    ***,**
27-04 EXTRACCION TARJETA 59503181                         0171 BANN            ***,**-                  ***,**
02-05 CRED. CAPITAL POR PAGO DE IPF                       0501                             ***,**
02-05 CREDITO INT. DE PLAZO FIJO                          0501                                ***,**
02-05 TRANSF. ACC.B.                                      0171 BACC         ***,**-
02-05 TRANS PAG SUEL                        5954836       0187 DNET                        ***,**
02-05 ALTA PLAZO FIJO NRO:   71                           0171 BACC         ***,**-
02-05 ALTA PLAZO FIJO NRO:   72                           0171 BACC         ***,**-
02-05 ALTA PLAZO FIJO NRO:   73                           0171 BACC          ***,**-
02-05 ALTA PLAZO FIJO NRO:   74                           0171 BACC         ***,**-
02-05 ALTA PLAZO FIJO NRO:   75                           0171 BACC         ***,**-
02-05 TR.7926357 A 0501/11153956/59                       0187 BS           ***,**-
02-05 ALTA PLAZO FIJO NRO:   76                           0171 BACC         ***,**-                 ***,**
03-05 TRANSF. E/BCOS-ONLINE                               0171 AEXT                        ***,**
03-05 PAGO VISA                                           0171 BACC         ***,**-                 ***,**
04-05 LIQUIDACION DE INTERESES                            0501                                   ***,**  ***,**
08-05 ALTA PLAZO FIJO NRO:   77                           0187 BS           ***,**-                  ***,**
10-05 TR.7991702 A 0501/11153956/59                       0187 BS            ***,**-                  ***,**
11-05 CRED. CAPITAL POR PAGO DE IPF                       0501                              ***,**
11-05 CREDITO INT. DE PLAZO FIJO                          0501                                  ***,**   ***,**
14-05 CRED. CAPITAL POR PAGO DE IPF                       0501                             ***,**
14-05 CREDITO INT. DE PLAZO FIJO                          0501                                ***,**
14-05 PAGO GCBA INM/ABL                                   0171 BACC            ***,**-
14-05 PAGO METROGAS                                       0171 BACC            ***,**-
14-05 ALTA PLAZO FIJO NRO:   78                           0171 BACC          ***,**-
14-05 EXTRACCION TARJETA 59503181                         0171 BANN          ***,**-                 ***,**
15-05 TRANSF. ACC.B.                                      0171 BACC          ***,**-
15-05 TRANSF. ACC.B.                                      0171 BACC          ***,**-                  ***,**
17-05 EXTRACCION TARJETA 59503181                         0171 BANN          ***,**-                  ***,**
21-05 EXTRACCION TARJETA 59503181                         0171 BANN          ***,**-
21-05 CRED. CAPITAL POR PAGO DE IPF                       0501                             ***,**
21-05 CREDITO INT. DE PLAZO FIJO                          0501                                ***,**
21-05 TRANSF.CAJ.AUT                                      0171 BACC          ***,**-                  ***,**
22-05 EXTRACCION TARJETA 59503181                         0171 BANN          ***,**-                  ***,**
28-05 CRED. CAPITAL POR PAGO DE IPF                       0501                             ***,**
28-05 CREDITO INT. DE PLAZO FIJO                          0501                                ***,**
28-05 PAGO REC TUENTI                                     0171 BACC            ***,**-
28-05 PAGO EDESUR                                         0171 BACC            ***,**-                 ***,**
01-06 TRANSF. ACC.B.                                      0171 BACC          ***,**-
01-06 TRANSF. E/BCOS-ONLINE                               0171 AEXT                        ***,**
01-06 ALTA PLAZO FIJO NRO:   79                           0171 BACC         ***,**-
01-06 TRANS PAG SUEL                        9553479       0187 DNET                        ***,**
01-06 ALTA PLAZO FIJO NRO:   80                           0171 BACC         ***,**-
01-06 ALTA PLAZO FIJO NRO:   81                           0171 BACC         ***,**-
01-06 ALTA PLAZO FIJO NRO:   82                           0171 BACC         ***,**-                 ***,**
04-06 CRED. CAPITAL POR PAGO DE IPF                       0501                             ***,**
04-06 CREDITO INT. DE PLAZO FIJO                          0501                                ***,**
04-06 LIQUIDACION DE INTERESES                            0501                                   ***,**
04-06 PAGO VISA                                           0171 BACC         ***,**-                 ***,**
07-06 EXTRACCION TARJETA 59503181                         0171 BANN          ***,**-
07-06 CRED. CAPITAL POR PAGO DE IPF                       0501                             ***,**
07-06 CREDITO INT. DE PLAZO FIJO                          0501                                ***,**   ***,**
11-06 CRED. CAPITAL POR PAGO DE IPF                       0501                             ***,**
11-06 CREDITO INT. DE PLAZO FIJO                          0501                                ***,**
11-06 PAGO GCBA INM/ABL                                   0171 BACC            ***,**-
11-06 PAGO METROGAS                                       0171 BACC            ***,**-
11-06 PAGO AYSA                                           0171 BACC            ***,**-                 ***,**

In [94]:
start = pdf[2].index('FECHA')
end = pdf[2].index('CONTINUA')
s = pdf[2][start:end]
print(re.sub(r'[0-9\.]+,[0-9]{2}', dashrepl, s))

FECHA                      CONCEPTO                   F.VALOR COMPROBANTE ORIGEN CANAL                         DEBITOS                   CREDITOS                        SALDOS
                                                                                               SALDO HOJA ANTERIOR                                                             ***,**
     11-06    PAGO IMP.AFIP                                                                   0171   BACC                   ***,**-
     11-06    PAGO IMP.AFIP                                                                   0171   BACC              ***,**-
     11-06    ALTA PLAZO FIJO NRO:                 83                                         0171   BACC              ***,**-
     11-06    TR.8179392 A 0501/11153956/59                                                   0187   BS                 ***,**-                                               ***,**
     12-06    TRANSF. ACC.B.                                                                  0171   BACC               ***,**-                                               ***,**
     13-06    TRANSF. E/BCOS-ONLINE                                                           0171   AEXT                                             ***,**                  ***,**
     14-06    CPA. IMANUEL                                                                    0171   OELE                   ***,**-                                             ***,**
     18-06    CRED. CAPITAL POR PAGO DE IPF                                                   0501                                                    ***,**
     18-06    CREDITO INT. DE PLAZO FIJO                                                      0501                                                       ***,**
     18-06    CRED. CAPITAL POR PAGO DE IPF                                                   0501                                                  ***,**
     18-06    CREDITO INT. DE PLAZO FIJO                                                      0501                                                       ***,**
     18-06    CRED. CAPITAL POR PAGO DE IPF                                                   0501                                                    ***,**
     18-06    CREDITO INT. DE PLAZO FIJO                                                      0501                                                       ***,**
     18-06    TRANSF. ACC.B.                                                                  0171   BACC               ***,**-
     18-06    TRANSF. ACC.B.                                                                  0171   BACC               ***,**-
     18-06    TRANSF. ACC.B.                                                                  0171   BACC               ***,**-                                              ***,**
     19-06    EXTRACCION TARJETA 59503181                                                     0171   BANN               ***,**-                                              ***,**
     21-06    EXTRACCION TARJETA 59503181                                                     0171   BANN               ***,**-                                              ***,**
     22-06    TRANS PAG SUEL                                           7037598                0187   DNET                                           ***,**
     22-06    TR.8251634 A 0501/11153956/59                                                   0187   BS                ***,**-                                               ***,**
     25-06    CRED. CAPITAL POR PAGO DE IPF                                                   0501                                                  ***,**
     25-06    CREDITO INT. DE PLAZO FIJO                                                      0501                                                       ***,**
     25-06    CRED. CAPITAL POR PAGO DE IPF                                                   0501                                                  ***,**
     25-06    CREDITO INT. DE PLAZO FIJO                                                      0501                                                       ***,**
     25-06    TRANSF. E/BCOS-ONLINE                                                           0171   AEXT                                             ***,**
     25-06    CPA. VITAL - CHEN JINZHU                                                        0171   OELE                   ***,**-
     25-06    PAGO EDESUR                                                                     0171   BACC                   ***,**-
     25-06    PAGO GCBA INM/ABL                                                               0171   BACC                   ***,**-
     25-06    ALTA PLAZO FIJO NRO:                 84                                         0171   BACC              ***,**-
     25-06    ALTA PLAZO FIJO NRO:                 85                                         0171   BACC              ***,**-                                              ***,**
     26-06    EXTRACCION TARJETA 59503181                                                     0171   BANN               ***,**-                                               ***,**
     27-06    EXTRACCION TARJETA 59503181                                                     0171   BANN               ***,**-                                               ***,**
     29-06    TR.8295870 A 0501/11153956/59                                                   0187   BS                 ***,**-                                               ***,**

In [1]:
n = len(pdf)-1
start = pdf[n].index('FECHA')
end = pdf[n].index('SALDO FINAL')
print(re.sub(r'[0-9\.]+,[0-9]{2}', dashrepl, s))

NameError: name 'pdf' is not defined

### Conclusión

Similar al resumen de visa. La única salvedad es considerar tanto ingresos como egresos.